* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; /* Stick to the top of the page */
    z-index: 1000; /* Ensure it stays on top of other content */
}


header .logo h1 {
    font-size: 24px;
}
header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f1c40f;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
img {
   align-items: center;
  }
.cart{
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    margin-top: 30px;
}
.cart-summary {
    width: 100%;
    margin-bottom: 20px;
}

.cart-item {
    display:center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart-item img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

.cart-item div {
    flex-grow: 1;
    padding-left: 10px;
}

.cart-item p {
    margin: 5px 0;
}
.checkout-form {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
 
    
}

.checkout-form  h3 {
    font-size: 28px;
    margin-bottom: 20px;
}



.checkout-form {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}

.checkout-form label {
    margin-bottom: 5px;
}

.checkout-form input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.checkout-form button {
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #f1c40f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form button:hover {
    background-color: #e67e22;
}


/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }
}
